{% extends "layout.html" %}
{% block body %}
    <p>共有{{ length }}学生报名</p>
  {% if length>10 %}
    <p>此页面仅显示最近10条报名信息</p>
  {% endif %}
  <ul class=entries>
  {% for entry in entries %}
    <li><h2>姓名：{{ entry.name|safe }}</h2>个人简介：{{ entry.info|safe }}<br/>
        性别：{{ entry.sex|safe }}<br/>学生号：{{ entry.stdnum|safe }}<br/>手机号：{{ entry.phone|safe }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
  {% if session.logged_in %}
<a href="{{ url_for('excel') }}">导出excel</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{{ url_for('logout') }}">退出登录</a>
  {% endif %}
{% endblock %}